body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  background-color: #dff2f3;
}

h1 {
  width: 280px;
  margin: 0 auto 10px;
  font-family: "Georgia", serif;
  text-align: center;
  font-weight: normal;
  font-size: 70px;
  line-height: 70px;
}

h2 {
  border-bottom: 10px solid #cccccc;
  padding-bottom: 30px;
}

.container {
  width: 510px;
  margin: 0 auto;
  padding: 0;
}

.site-header {
  min-width: 550px;
  height: 160px;
  margin-bottom: 100px;
  padding-top: 50px;
  background: #10185e no-repeat center url("img/море.webp");
  background-size: cover;
  color: #02060f;
}

.site-header p {
  width: 255px;
  margin: 0 auto 26px;
  text-align: center;
  font-size: 19px;
  line-height: 30px; 
}

.site-header img {
  display: block;
  margin: 0 auto;
}

.features {
  width: 510px;
  margin: 0 auto 30px;
  padding: 0 20px;
}

.features p {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 0 5px;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
}

.feature-furniture {
  padding-top: 140px;

  background-image: url("img/icons8-цунами-100.png");
  
}

.feature-lighting {
  padding-top: 143px;
  background-image: url("img/-колыбельная.png");
}

.feature-accessories {
  padding-top: 140px;
  background-image: url("img/icons8-камера-100.png");
}

.advantages {
  width: 510px;
  margin: 0 auto 40px;
  padding: 0 20px;
}

.advantages-list {
  padding: 0;
  list-style: none;  
}

.advantages-item {
  margin-bottom: 15px;
  padding-left: 20px;
  border-left: 20px solid #3a79d8;
  color: #0c0404;
}

.advantages-item p {
  padding-top: 200px;
  background-image: url("img/sea.jpg");
}


.standard {
  border-color: #51a1ec;
  color: #000000;
}

.vip {
  border-color: #4a4df1;
  color: #000000;
}

.site-footer {
  min-width: 550px;
  background-color: #0f6fec;
  color: #000000;
  margin-top: 600px;
  
}

.site-footer .container {
  text-align: center;
}

.site-footer p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
 

}

.photosea {
  padding-left: 930px;
  padding-top: 200px;
}
